body {
  background-color: #cce1ea;
  margin: 0 auto;
}

.disable-scroll {
  overflow: hidden;
}

.title {
  font-size: 60px;
  margin: 40px auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #296cc6;
  border-radius: 8px;
  font-family: "Geo", sans-serif;
  color: #204499;
  font-size: 30px;
  color: #f3f3f3;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.5s;
}
@media (hover: hover) {
  .button:hover {
    background-color: #6ea2d6;
    color: #204499;
    transition: 0.5s;
  }
}
.button_disabled {
  background-color: #6ea2d6;
  color: #204499;
  cursor: default;
  transition: 0.5s;
}

.play-again {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Geo", sans-serif;
  color: #204499;
  font-size: 30px;
  border: none;
  background-color: #296cc6;
  color: #f3f3f3;
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
}
@media (hover: hover) {
  .play-again:hover {
    background-color: #6ea2d6;
    color: #204499;
    transition: 0.5s;
  }
}

.gallows {
  font-size: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "t t t t" "l . . r" "l . . h" "l . . u" "l . . g" "l . . ." "b b b b";
}
.gallows__top-element {
  height: 10px;
  width: 300px;
  background-color: #204499;
  grid-area: t;
  align-self: end;
}
.gallows__left-element {
  height: 300px;
  width: 10px;
  background-color: #204499;
  grid-area: l;
}
.gallows__right-element {
  max-height: 100%;
  width: 10px;
  background-color: #204499;
  grid-area: r;
  justify-self: center;
}
.gallows__bottom-element {
  height: 10px;
  max-width: 100%;
  background-color: #204499;
  grid-area: b;
}
.gallows .head {
  visibility: hidden;
  width: 40px;
  height: 40px;
  background-color: #204499;
  border: 10px solid #204499;
  border-radius: 50%;
  grid-area: h;
}
.gallows .upper-body {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-self: center;
  grid-area: u;
}
.gallows .upper-body__left-arm {
  visibility: hidden;
  width: 10px;
  height: 100%;
  transform: rotate(30deg);
  background-color: #204499;
}
.gallows .upper-body__torso {
  visibility: hidden;
  width: 15px;
  height: 110%;
  background-color: #204499;
}
.gallows .upper-body__right-arm {
  visibility: hidden;
  width: 10px;
  height: 100%;
  transform: rotate(-30deg);
  background-color: #204499;
}
.gallows .lower-body {
  display: flex;
  gap: 7px;
  flex-direction: row;
  justify-self: center;
  grid-area: g;
}
.gallows .lower-body__left-leg {
  visibility: hidden;
  width: 10px;
  height: 100%;
  transform: rotate(10deg);
  background-color: #204499;
}
.gallows .lower-body__right-leg {
  visibility: hidden;
  width: 10px;
  height: 100%;
  transform: rotate(-10deg);
  background-color: #204499;
}
.gallows .visible {
  visibility: visible;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
}

.interactive-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  gap: 30px;
}
.interactive-part .keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main {
  display: flex;
  max-width: 1440px;
  background-color: #cce1ea;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-family: "Geo", sans-serif;
  color: #204499;
  font-size: 30px;
}

.modal {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  padding: 15px;
  background-color: #f3f3f3;
  border: 10px dashed #204499;
  font-family: "Geo", sans-serif;
  color: #204499;
  font-size: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.wrapper-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(32, 68, 153, 0.4509803922);
  transition: 0.5s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
